@model IEnumerable<Slide>

@{
    ViewData["Title"] = "Slider Ekleme";
}

<p>
    <a asp-action="Create" class="btn btn-outline-info"><i class="fa-solid fa-plus"></i> Yeni Kullanıcı Ekle </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    <a href="/Image/Slider/@item.Image">
                        <img src="/Image/Slider/@item.Image" height="20" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
                <td>
                    <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-bars"></i> Düzenle</a>
                    <a class="btn accordion-collapse btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-magnifying-glass"></i> Detay</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Kayıt Sil</a>
                </td>
        </tr>
}
    </tbody>
</table>
