@model Odeme

@{
    ViewData["Title"] = "Sil";
}



<h3>Silmek İstediğine Eminmisin</h3>
<div>
    <h4>Odeme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Name)
            @Html.DisplayFor(model => model.AppUser.SurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Listeye Dön </a>
    </form>
</div>
